@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10rem;
}

.display {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 20px;
}

.board {
    border: 2px solid #333;
    display:inline-block;
}

.row {
    font-size: 0px;
}

.col {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #eee;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    vertical-align: top;
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

.col:last-child {
    border-right: none;
}

.row:last-child .col {
    border-bottom: none;
}

.col.hidden {
    background-color: #59aec7;
    cursor: pointer;
    font-size: 0px;
}

.col.hidden:hover {
    background-color: #b1d5df;
}

.col.mine.active {
    background-color: red;
}