@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 2rem;
}

.results {
    margin: 5rem 0;
    font-size: 1.5rem;
    min-height: 1.5rem;
}

button {
    padding: 5px;
    font-family: 'Inconsolata', monospace;
    font-weight: bold;
    font-size: 16px;
    background-color: #59aec7;
    border: 2px solid #333;
}

.display {
    margin: 1rem 0;
    font-weight: bold;
    font-size: 20px;
}

.display.difficulty button {
    margin-top: 2rem;
    width: 200px;
    height: 50px;
}

.board {
    border: 2px solid #333;
    display:inline-block;
    margin: 1rem 0;
}

.row {
    font-size: 0px;
}

.col {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #eee;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    vertical-align: top;
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    pointer-events: inherit;

    /* unselectable */
    cursor: default;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.col:last-child {
    border-right: none;
}

.row:last-child .col {
    border-bottom: none;
}

.col.hidden {
    background-color: #59aec7;
    cursor: pointer;
    font-size: 0px;
}

.col.hidden:hover {
    background-color: #b1d5df;
}

.col.mine.active {
    background-color: red;
}

/* .col.mine {
    background-color: red;
} */

.board.locked {
    pointer-events: none;
}